@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full px-4 py-3 rounded-xl appearance-none;

  @apply bg-white/5 text-indigo-100 
         placeholder:text-indigo-300/70;
  
  @apply border border-indigo-400/20 
         focus:outline-none focus:ring-2 focus:ring-indigo-500 
         transition duration-300;
  
  @apply text-sm sm:text-base;
}

select.input option {
    @apply bg-gray-800 text-white;
}


.file-input {
  @apply block w-full text-sm text-gray-400;

  &::file-selector-button {
    @apply mr-4 py-2 px-4 rounded-xl
           border-0 text-sm font-semibold
           bg-indigo-600/90 text-white cursor-pointer
           hover:bg-indigo-500 transition duration-300;
  }
}